
.burger-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding: 0;
    cursor: pointer;
    z-index: 10;
    border: none;
    background-color: transparent;
    @media screen and (min-width: 768px) {
    display: none;
    }
}


.burger-button .icon-cross {
    opacity: 0;
}

.burger-button.is-open .icon-cross {
    opacity: 1;
    
}

.burger-button.is-open .icon-burger {
    opacity: 0;
}

.burger-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-button:hover .burger-svg,
.burger-button:focus .burger-svg {
    fill: $accent-color;
}

