/* ================================ 
Присоединяйтесь, ссылки на соц сети
================================ */

.footer__box:not(:last-child) {
    margin-right: 70px;
}

.footer-custom {
    margin-left: 32px;
}

.footer-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.03em;
    text-align: start;
    text-transform: uppercase;
    color: $wight-color;
}


/* ======================================== 
Присоединяйтесь, ссылки на соц сети - start
========================================= */

.footer-list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    padding-bottom: 30px;
    margin: 0;
}

.footer-list__socials-item {
    margin-right: 10px;
}

.footer-list__socials-item:last-child {
    margin-right: 0;
}

.footer-socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: calc(100% / 4 - 10px);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: $bg-social-link;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover,
.footer-socials-link:hover:focus {
    background-color: $accent-color;
}

.footer-socials-icon {
    fill: #FFFFFF
}

.footer-socials-link:hover .footer-socials-icon,
.footer-socials-link:focus .footer-socials-icon {
    fill: #ffffff
}

/* ======================================== 
Присоединяйтесь, ссылки на соц сети - end
========================================= */