/* ==========================
Heder  - start
=========================== */

.header {
  border-bottom: $header-border-bottom;
}

.header__container {
  @include container;
  display: flex;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.container-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .container-nav {
    display: flex;
    align-items: center;
    z-index: 1;
  }
}

@media screen and (min-width: 1200px) {
  .container-nav {
    display: flex;
    z-index: 1;
    flex-basis: 100%;
  }
}

@media screen and (min-width: 480px) {
  .navigate {
    display: flex;
    align-items: center;
  }
}
