.logo {
    display: inline-block;
    // margin-right: auto;
    text-decoration: none;
    padding: 16px 0;
    // padding-left: 0;
    font-family: Raleway,
    sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $logo-text-color;

    @media screen and (min-width: 1200px) {
        margin-right: 93px;
    }
}

@media screen and (min-width: 768px) {
    .logo {
        margin-right: 88px;
        padding: 26px 0;
    }
}


.logo--accent {
    text-decoration: none;
    color: $accent-color;
}

/* =========================
часть лого в Футере 
========================== */
.logo--white {
    display: inline-block;
    font-family: Raleway,
    sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    text-decoration: none;
    color: $wight-color;
}

// .navigate>.logo {
//     margin-right: 93px;
// }