/* ================================ 
SECTION Постоянные клиенты - start 
================================= */
.section-clients {
    padding-top: 60px;
    padding-bottom: 60px;
    
}

@media screen and (min-width: 1200px) {
    .section-clients {
    @include section
}
}

.container-clients {
    @include container;
}

.container-clients__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: $title-text-color;
}