/* =============================
SECTION Наша команда - start 
============================== */

.team-section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $bg-color-section;
}

@media screen and (min-width: 1200px) {
    .team-section {
            @include section;
        }
}


.container-team {
    @include container;
}



.container-team__title {
    @include title-team-font;
    margin-bottom: 30px;
    text-align: center;
    color: $title-text-color;
    @media screen and (min-width: 1200px) {
        margin-bottom: 30px;
    }
    
}


.list-covorker {
    list-style: none;
    padding: 0;
    margin: 0;
    @media screen and (min-width: 768px) {
        gap: 30px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

.list-covorker__item {
    background-color: $wight-color;
    cursor: pointer;

    @media screen and (max-width: 767px) {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    @media screen and (min-width: 768px) {
            flex-basis: calc(100% / 2 - 30px);
        }
        
    @media screen and (min-width: 1200px) {
            flex-basis: calc(100% / 4 - 30px);
        }
}

.covorker__box {
    padding: 30px 15px;
    box-shadow: $box-shadow-card;
    border-radius: 0px 0px 4px 4px;
}


.covorker__title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: $title-text-color;
}

.covorker__paragraph {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: $primary-text-color;
}