/* =============================
SECTION Наша команда - start 
============================== */

.team-section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $bg-color-section;
}

@media screen and (min-width: 1600px) {
    .team-section {
            @include section;
        }
}


.container-team {
    @include container;
}



.container-team__title {
    @include title-team-font;
    margin-bottom: 50px;
    text-align: center;
    color: $title-text-color;
}



    @media screen and (min-width: 480px) {
        .list-covorker {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    }
}

    @media screen and (min-width: 768px) {
        .list-covorker {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    }
}

    @media screen and (min-width: 1600px) {
        .list-covorker {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
        }
}


.list-covorker__item {
    background-color: $wight-color;
    list-style: none;
    margin-bottom: 30px;
}

.covorker__box {
    padding: 30px 15px;
    box-shadow: $box-shadow-card;
    border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
.list-covorker__item {
    flex-basis: calc((100% - 4 * 15px) / 2);
        cursor: pointer;
        margin-right: 30px;
        margin-bottom: 30px;
}
}

@media screen and (min-width: 1600px) {
    .list-covorker__item {
        flex-basis: calc((100% - 4 * 30px) / 4);
        cursor: pointer;
        margin-right: 30px;
        margin-bottom: 30px;
    }
}


// Для выбора всех чётных элементов
// .list-item:nth-child(2n)

@media screen and (min-width: 768px) {
    .list-covorker__item:nth-child(2n) {
        margin-right: 0;
    }
}


    @media screen and (min-width: 1600px) {
        .list-covorker__item:not(:last-child) {
        margin-right: 30px;
        }
}


.covorker__title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: $title-text-color;
}

.covorker__paragraph {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: $primary-text-color;
}