/* =========================
SECTION Преимущества - start
========================== */
.section-quality {
    padding-top: 60px;
    padding-bottom: 60px;
}

.container-quality {
    @include container;

.container-quality__visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
}

.list-quality {
    list-style: none;
    padding: 0;
    margin: 0;
    @media screen and (min-width: 768px) {
        gap: 30px;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
    }
}


.list-quality__item {
@media screen and (max-width: 767px) {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }
    
    @media screen and (min-width: 768px) {
            flex-basis: calc(100% / 2 - 30px);
        }
    
        @media screen and (min-width: 1200px) {
            flex-basis: calc(100% / 4 - 30px);
        }
// @media screen and (max-width: 767px) {
//     margin-bottom: 30px;
//     &:last-child {
//         margin-bottom: 0;
//     }
// }
    
// @media screen and (min-width: 768px) {
//     flex-basis: calc(100% / 2 - 30px);  
// }
// @media screen and (min-width: 1200px) {
//     flex-basis: calc(100% / 4 - 30px);
// }
}


/* ==================
    иконка фон - start
 ================== */


.box-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 120px;
    background-color: $bg-color-section;
    border-radius: 4px;
}




/* ==================
    иконка фон - end
 ================== */

.quality-title {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $title-text-color;

    @media screen and (min-width: 1200px) {
       text-align: start;        
    }
}


.quality-paragraph {
    margin: auto;
    font-size: 14px;
    line-height: 1.71;
    color: $primary-text-color;
}