/* ============================== 
SECTION Чем мы занимаемся - start
=============================== */


.section {
        display: none;
    }

    @media screen and (min-width: 768px) {
        .section {
        display: block;
    }
}

.container-doing {
    @include container;
}

// @media screen and (min-width: 480px) {
//     .container-doing {
//     width: 450px;
// }
// }

//  @media screen and (min-width: 768px) {
//     .container-doing {
//      width: 738px;
//  }
//  }

//  @media screen and (min-width: 1600px) {
//     .container-doing {
//      width: 1200px;
//  }
// }




.container-doing__title {
    @include title-base;
    margin-bottom: 50px;
    text-align: center;

    color: $title-text-color;
}

.list__specialization {
    position: relative;
}

.list__specialization:not(:last-child) {
    margin-right: 30px;
}


.list__card-title {
    position: absolute;
    padding: 27px 0;
    width: 100%;
    left: 0;
    bottom: 0;
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $wight-color;
    background-color: rgba(47, 48, 58, 0.8);
}

/* ==============================
SECTION Чем мы занимаемся - end 
=============================== */